<div class="giantcontainer">
    <div class="header">
        <div class="headername">
            <a ui-sref="home">JULIAN RUIZ</a>
        </div>

        <div class="headerlinks contact-links">
            <ul>
                <li><a ui-sref="bio">BIO</a></li>
                <li><a ui-sref="work">PROJECTS</a></li>
                <li><a ui-sref="technologies">TECHNOLOGIES</a></li>
                <li><a ui-sref="contact">CONTACT</a></li>
            </ul>
        </div>
    </div>


    <div class="biocontainer">
        <div class="face"></div>
        <div class="biotext">
            <h3>BIO</h3>
            <p>I am a front end developer with a passion for UI/UX Design. I was born and raised in Fort Worth, TX. I have spent the majority of my adult life in Austin, TX after graduating from <span>The University of Texas at Austin</span> with a degree
                in Mexican American Studies, B.A. I have recently relocated to Dallas, TX in pursuit of web design via DevMountain.</p>
        </div>
    </div>
</div>
