<div class="biocontainer">
  <h2>Get to know me.</h2>
  <p>Hi, I'm <strong>Julian</strong>. I am a <strong>front end developer</strong> with a passion in <strong>UI/UX Design</strong>. I was born and raised in <strong>Fort Worth, TX</strong>. I have spent the majority of my adult life in <strong>Austin, TX</strong> after graduating from the <strong>University of Texas at Austin</strong> with a degree in <strong>Mexican American Studies, B.A.</strong></p>

  <p><strong>Philosophy on Design:</strong> I follow the ideation that <strong> "less is more."</strong> Web design should be <strong>clean, yet highly accessible</strong> to all types of clients. I don't want my viewers to be discouraged with my work because they can't maintain focus on the content.</p>

</div>
