<div class="home-container-contact">
    <div class="header">
        <div class="headername contact-headername">
            <a ui-sref="home">JULIAN RUIZ</a>
        </div>

        <div class="headerlinks contact-links">
            <ul>
                <li><a ui-sref="bio">BIO</a></li>
                <li><a ui-sref="work">PROJECTS</a></li>
                <li><a ui-sref="technologies">TECHNOLOGIES</a></li>
                <li><a ui-sref="contact">CONTACT</a></li>
            </ul>
        </div>
    </div>

    <div class="bigcontainer">
        <div class="create">
            LET'S CREATE SOMETHING.
        </div>
        <div class="contactcontainer">
            <div class="leftcontactinfo">
                <p class="contacttitle">CONTACT ME</p>
                <p><strong>Phone:</strong> 817-637-6019</p>
                <p><strong>Email:</strong> <a href="mailto:juliansruiz@gmail.com">juliansruiz@gmail.com</a></p>
                <p><strong>Dallas, TX</strong></p>
            </div>
            <div class="rightcontactinfo">
                <p class="contacttitle">FOLLOW ME</p>
                <p>
                    <a href="https://github.com/JulianSRuiz"><img class="contacticon" src="../assets/images/github2.png" alt=""></a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/in/juliansruiz"><img class="contacticon" src="../assets/images/linkedin.png" alt=""></a>
                </p>
            </div>
        </div>
        <a href="./src/assets/images/resumejr.pdf" target="_blank" class="resume">RESUME</a>
    </div>
</div>
