<div class="contactcontainer">
  <div class="photoopp">
    <img src="../assets/images/jr2resize.jpg" alt="">
  </div>
  <div class="leftcontactinfo">
    <h2 class="contacttitle">CONTACT ME</h2>
    <p><strong>Phone:</strong> 817-637-6019</p>
    <p><strong>Email:</strong> <a href="mailto:juliansruiz@gmail.com">juliansruiz@gmail.com</a></p>
    <p><strong>Dallas, TX</strong></p>
  </div>
  <div class="rightcontactinfo">
    <h2>FOLLOW ME</h2>
    <p><a href="https://github.com/JulianSRuiz">Github</a></p>
    <p><a href="https://www.linkedin.com/in/juliansruiz">Linked In</a></p>
  </div>
</div>
