<header>
  <img src="./assets/images/nw3.jpg" alt="Julian Ruiz" class="headerportrait">
  <div class="headername">
    JULIAN RUIZ
  </div>

  <div class="headerlinks">
    <ul>
      <li>WORK</li>
      <li>BIO</li>
      <li>TECHNOLOGIES</li>
      <li>CONTACT</li>
    </ul>
  </div>
</header>

<div class="home-container">

</div>

<footer>
  <div class="madeby">
    Made by
    <span class="footername">
      Julian Ruiz
    </span>
  </div>
  <div class="footerlocation">
    Dallas, TX
  </div>
  <div class="footeremail">
    Contact: <a href="#">juliansruiz@gmail.com</a>
  </div>
</footer>
