<div class="home-container">
    <div class="header">
        <div class="headername">
            <a ui-sref="home">JULIAN RUIZ</a>
        </div>

        <div class="headerlinks">
            <ul>
                <li><a ui-sref="bio">BIO</a></li>
                <li><a ui-sref="work">PROJECTS</a></li>
                <li><a ui-sref="technologies">TECHNOLOGIES</a></li>
                <li><a ui-sref="contact">CONTACT</a></li>
            </ul>
        </div>
    </div>

    <div class="homecontent">
        <p class="homesubtext front">Front End Developer</p>
        <p class="homesubtext enthusiast">UI/UX Design Enthusiast</p>
    </div>
</div>
