<div class="projcontainer">
  <div class="projectcontainer1">
    <div class="project">
      <p class="projlefttext"><a href="http://159.203.168.135"><strong>Vidmeo: A Vimeo Clone</strong></a></p>
              <p>I was inspired to complete a project that not only took on the functionality of an existing site, but I wanted to prove that I could replicate it visually. I am confident in my abilities to create structure and design websites.</p>
      <div class="proj1content">
        <img src="../assets/images/ss1550.png" alt="">
      </div>
      <div class="proj1content">
        <img src="../assets/images/ss2550.png" alt="">
      </div>
      <div class="proj1content">
        <img src="../assets/images/ss3550.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="projcontainer">
  <div class="projectcontainer2">
    <div class="project">
      <p class="projlefttext"><a href="http://104.236.5.8/"><strong>Alien Hunt: Group Project</strong></a></p>
      <p>I presented the idea of recreating a timeless classic Nintendo game for a group project at DevMountain. This was a fantastic experience working with others and seeing how different minds come together. I focused on project management ensuring that everyone maintained their respective responsibilities as well as positioning and scaling of nearly everything you see in this game.</p>
      <div class="proj1content">
        <img src="../assets/images/ss12.png" alt="">
      </div>
      <div class="proj1content">
        <img src="../assets/images/ss22.png" alt="">
      </div>
      <div class="proj1content">
        <img src="../assets/images/ss32.png" alt="">
      </div>
    </div>
  </div>
</div>
