<div class="projcontainer">
  <h2>What I've worked on.</h2>
  <div class="projectcontainer1">
    <div class="project">
      <img src="../assets/images/screenshot.png" alt="">
    </div>
    <div class="project">
      <img src="../assets/images/screenshot.png" alt="">
    </div>
  </div>

  <div class="projectcontainer2">
    <div class="project">
      <img src="../assets/images/screenshot.png" alt="">
    </div>
    <div class="project">
      <img src="../assets/images/screenshot.png" alt="">
    </div>
  </div>
</div>
