<div class="projmaincontainer">
    <div class="header">
        <div class="headername contact-headername">
            <a ui-sref="home">JULIAN RUIZ</a>
        </div>

        <div class="headerlinks contact-links">
            <ul>
                <li><a ui-sref="bio">BIO</a></li>
                <li><a ui-sref="work">PROJECTS</a></li>
                <li><a ui-sref="technologies">TECHNOLOGIES</a></li>
                <li><a ui-sref="contact">CONTACT</a></li>
            </ul>
        </div>
    </div>

    <div class="projcontainer">
        <h2 class="projecttitle">PROJECTS</h2>
        <div class="projectcontainer1">
            <div class="project">
                <p class="projlefttext"><a href="http://159.203.168.135"><strong>Vidmeo: A Vimeo Clone</strong></a></p>
                <p>I was inspired to complete a project that not only took on most of the functionality of an existing site in only 2 weeks, but I wanted to prove that I could replicate it visually. I am confident in my abilities to create structure and design. This project serves as a personal design study and my ability to manipulate the screen exactly as I want.</p>
            </div>
            <div class="proj1content">
              <a href="http://159.203.168.135"></a>
            </div>
        </div>
    <!-- </div>


    <div class="projcontainer"> -->
        <div class="projectcontainer2">
            <div class="project">
                <p class="projlefttext"><a href="http://104.236.5.8/"><strong>Alien Hunt: Group Project</strong></a></p>
                <p>I presented the idea of recreating a timeless classic Nintendo video game (Duck Hunt) for a group project at <a href="https://devmountain.com/">DevMountain</a>. This was a fantastic experience working with others and seeing how different minds come together. I focused on project management ensuring
                that everyone maintained their responsibilities, added a few animations, as well as the positioning and scaling of nearly everything you see in this game. After researching rendering libraries, I ultimately decided on PixiJS. After only three days of hands on experience, our group was up and running with the beginning bits of a functioning game. I dare you to beat my high score.</p>
              </div>
              <div class="proj2content">
                <a href="http://104.236.5.8/"></a>
              </div>
        </div>
    </div>
</div>
