<div class="techcontainer">
  <h2>What I know.</h2>
  <div class="techcontainer1">
    <div class="tech">
      <img src="../assets/images/angular.png" alt="">
    </div>
    <div class="tech">
      <img src="../assets/images/html.png" alt="">
    </div>
    <div class="tech">
      <img src="../assets/images/bootstrap.png" alt="">
    </div>
    <div class="tech">
      <img src="../assets/images/jquery.png" alt="">
    </div>
  </div>

  <div class="techcontainer2">
    <div class="tech">
      <img src="../assets/images/css.png" alt="">
    </div>
    <div class="tech">
      <img src="../assets/images/css.png" alt="">
    </div>
    <div class="tech">
      <img src="../assets/images/node.jpg" alt="">
    </div>
    <div class="tech">
      <img src="../assets/images/github.png" alt="">
    </div>
  </div>

  <div class="bottomtechrow">
    <img src="../assets/images/mongodb.png" alt="">
  </div>
</div>
