<div class="home-container-tech">
    <div class="header">
        <div class="headername techname">
            <a ui-sref="home">JULIAN RUIZ</a>
        </div>

        <div class="headerlinks">
            <ul>
                <li><a ui-sref="bio">BIO</a></li>
                <li><a ui-sref="work">PROJECTS</a></li>
                <li><a ui-sref="technologies">TECHNOLOGIES</a></li>
                <li><a ui-sref="contact">CONTACT</a></li>
            </ul>
        </div>
    </div>

    <div class="techcontainer">
        <div class="techcontainer1">
            <div class="tech">
                <img src="../assets/images/angular.png" alt="">
            </div>
            <div class="tech">
                <img src="../assets/images/html.png" alt="">
            </div>
            <div class="tech">
                <img src="../assets/images/bootstrap.png" alt="">
            </div>
            <div class="tech">
                <img src="../assets/images/jquery.png" alt="">
            </div>
        </div>

        <div class="techcontainer2">
            <div class="tech">
                <img src="../assets/images/js.png" alt="">
            </div>
            <div class="tech">
                <img src="../assets/images/css.png" alt="">
            </div>
            <div class="tech">
                <img src="../assets/images/nodejs.png" alt="">
            </div>
            <div class="tech">
                <img src="../assets/images/github.png" alt="">
            </div>
        </div>

        <div class="bottomtechrow">
            <img src="../assets/images/mongodb.png" alt="">
        </div>
    </div>
</div>
